<%- include('../static/header') %> 
<body>
<%- include('./navbar') %> 
<div class="container">
    <div class="row">
        <% for(var i=0;i<blogs.length;i++) {%> 
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                <img src="<%= blogs[i].img %>" alt="post-1" width="360px" height="220px">
                <div class="blog-title">
                    <a href="/main-blog" style="text-decoration: none;"><h3><%= blogs[i].title %></h3></a>
                    <button class="btn btn-blog">Fashion</button>
                    <span>2 minutes</span>
                </div>
            </div>
        </div>
        <% } %> 
    </div>
</div>
</body>
<script>
    document.getElementById('blogLink').style.fontWeight = 900;
</script>
<%- include('../static/footer') %>