<%- include('../static/header') %>
<%- include('../static/navbar') %> 

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="heading">
                <h1 class="my-5" style="display: inline-block;"><%= blogs.title %> </h1>
            </div>
            <img src="<%= blogs.img %>"  alt="image" height="500px" width="700px">
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="description">
            <p><%= blogs.description %> </p>
        </div>
        <div class="right my-5" style="float: right;">
            <a class="btn btn-warning" href="/compose?id=<%= blogs._id %>">Edit</a>
            <form action="/blogs/postTitle=<%= blogs.title %>" method="DELETE">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
    </div>
</div>
<%- include('../static/footer') %>